<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BFD9000{% endblock %}</title>
    {% load static %}
    <link href="{% static 'css/output.css' %}" rel="stylesheet" type="text/css" />
    <style>
        ::selection {
            background: oklch(60.6% 0.25 292.717 / 80%);
            opacity: 0.3;
            color: white;
        }

        body {
            {% block body_style %}{% endblock %}
        }

        {% block styles %}{% endblock %}
    </style>
</head>
<body class="bg-neutral-content md:p-8 p-4 min-h-screen flex flex-col">
    {% block body %}{% endblock %}
</body>
</html>
