{% extends "archive/base.html" %}

{% block title %}{% block page_title %}Home{% endblock %} - BFD9000{% endblock %}

{% block body %}
<div class="flex flex-col card shadow-sm bg-base-100">
    <div class="p-4 flex space-between align-center">
        <h1 class="text-3xl font-bold grow">BFD9000</h1>
        <div class="user-info text-nowrap shrink-0">
            <span class="user-name">Logged in as: <strong>{{ user.username }}</strong></span>
            <a href="{% url 'logout' %}" class="btn btn-sm grow-0">Logout</a>
        </div>
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</div>
{% endblock %}
