[MASTER]
ignore-patterns=^.*?/migrations/.*\.py$

[FORMAT]
max-line-length=120

[MESSAGES CONTROL]
disable=
    no-member,
    protected-access,
    too-few-public-methods,
    too-many-arguments,
    too-many-ancestors,
    too-many-instance-attributes,
    too-many-locals,
    too-many-positional-arguments,
    too-many-branches,
    too-many-return-statements,
    unnecessary-pass,
    wildcard-import,
    wrong-import-order,
    wrong-import-position
